
$enable-gradients: true;
$enable-shadows: true;
$enable-transitions: false;
$blue: #3c6997;
$red: rgb(182, 62, 75);
$green: rgb(7, 138, 110);
$body-bg: $gray-900;
$link-color: lighten(theme-color("primary"), 15%);
$input-bg: $gray-700;
$input-disabled-bg: $gray-800;
$card-bg: $body-bg;
$card-cap-bg: lighten($body-bg, 15%);
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.35;
$secondary: $gray-700;
$input-group-addon-bg: $gray-600;
$input-color: $gray-500;
$border-color: $gray-600;
$pagination-bg: $gray-700;
$pagination-hover-bg: $gray-600;
$pagination-disabled-color: $gray-200;
$pagination-disabled-bg: $gray-700;
$light: $gray-500;
$nav-tabs-border-color: $gray-500;
$pagination-border-color: $gray-600;
$pagination-hover-border-color: $gray-600;
$pagination-disabled-border-color: $gray-600;
$body-color: $gray-500;
$input-border-color: $gray-600;