
$enable-gradients: true;
$enable-shadows: true;
$enable-transitions: false;
$blue: #3c6997 /*3c6997; */;
$red: #d44d5c;
$green: #02c39a;
$yellow: #fcfa6a;
$teal: #8DB4CB /* used for secondary */;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.35;
$secondary: $gray-400;
$warning: $orange;